*.map
Weclaritive/obj/
.vs/
Weclarative/obj/
*.user
Weclarative/bin/
Weclarative/weclarative.d.ts
packages/
Weclarative.Demo/obj/
.idea/
Weclarative.Demo/bin/
Weclarative.Demo/Weclarative
Weclarative.Demo/weclarative.d.ts
debug.log
weclarative.d.ts

Weclarative\.Demo/weclarative\.js

Weclarative\.Demo/weclarative-demo\.js

Weclarative/weclarative\.js
Weclarative.Demo.Api/bin/
Weclarative.Demo.Api/obj/
_Resharper.Caches/