*.js
*.map
Weclaritive/obj/
.vs/
Weclarative/obj/
*.user
Weclarative/bin/
Weclarative/weclarative.d.ts
packages/
Weclarative.Demo/obj/
.idea/
Weclarative.Demo/bin/
Weclarative.Demo/Weclarative
Weclarative.Demo/weclarative.d.ts
debug.log
