body {
}

ol, ul {
    list-style: inherit;
    margin-bottom: 10px;
}

li {
    margin-left: 20px;
}

code {
    background-color: #EEE;
    font-family: monospace;
    font-size: 110%;
    padding: 1px;
}

pre {
    background-color: #EEE;
    font-family: monospace;
    font-size: 110%;
    padding: 10px;
    margin-bottom: 10px;
}

p {
    padding-bottom: 10px;
}

blockquote {
    background-color: #EEE;
    padding: 10px;
    margin-bottom: 10px;
}

blockquote > p {
    padding-bottom: 0px;
}

h3 {
    font-size: 110%;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

table {
    margin-bottom: 10px;
}

th {
    font-weight: bold;
    border-bottom: 1px black solid;
}

th, td {
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td:last-child, th:last-child {
    padding-right: 0px;
}