/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

i, em {
    font-style: italic;
}

textarea, input[type="text"], input[type="date"], input[type="date"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="time"], input[type="week"] {
    margin: 0px;
    border: 1px solid #999;
    font-size: 100%;
    font: inherit;
}

input[type="text"] {
    padding-left: 4px;
    padding-right: 4px;
}

textarea {
    resize: none;
}

input[type="text"] {
    display: block;
}

strong, b {
    font-weight: bold;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}

div.markdown h1 {
    font-size: 300%;
    font-weight: bold;
    border-bottom: 1px black solid;
    margin-bottom: 20px;
}

div.markdown h2 {
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 5px;
}

div.markdown h3 {
    font-size: 150%;
    font-weight: bold;
}

div.markdown h4 {
    font-size: 120%;
    font-weight: bold;
}